<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/frontend/src/Style/Footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <footer>
      <div class="footerContainer">
        <div class="socialIcons">
          <a href=""><i class="fa-brands fa-facebook"></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
          <a href="/frontend/src/pages/Home.js" class="logo">
            <img src="/frontend/src/Components/Logo.webp" alt="Logo" />
          </a>
          <a href=""><i class="fa-brands fa-twitter"></i></a>
          <a href=""><i class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="footerNav">
          <ul>
            <li><a href="/frontend/src/pages/Home.js">Home</a></li>
            <li><a href="/frontend/src/pages/About.js">About</a></li>
            <li><a href="/frontend/src/pages/DIY.js">DIY</a></li>
            <li>
              <a href="/frontend/src/pages/Maintenance.js">Maintenance</a>
            </li>
            <li><a href="/frontend/src/pages/Account.js">Account</a></li>
            <li><a href="/frontend/src/pages/Login.js">Login</a></li>
          </ul>
        </div>
      </div>
      <div class="footerBottom">
        <p>
          Copyright &copy;2025; Designed by
          <span class="designer">PitStop-DIY</span>
        </p>
      </div>
    </footer>
  </body>
</html>
