.signupPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
}

.signupFormContainer {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 400px;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.label {
    color: black;
    font-weight: bold;
}

.input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    background-color: black;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #333;
}

.loginText {
    color: black;
    cursor: pointer;
    margin-top: 1rem;
    transition: color 0.3s;
}

.loginText:hover {
    color: blue;
}
